---
layout: default
main_title: ライセンス
sub_title:
type: license
---

<p>クリアコードではソフトウェアだけではなくwww.clear-code.com上の一部のコンテンツも自由に利用できるライセンスで公開しています。それぞれのコンテンツのライセンスは以下の通りです。</p>

<h2 id="blog">ククログ</h2>
<p><a href="../blog/">ククログ</a>はクリアコードが技術的な情報などを発信しているブログです。お知らせなど再利用性の低いものから、よいプログラムの書き方など再利用性の高いものまで様々な記事があります。</p>
<p>ククログの記事はWikipediaと同じライセンスで自由に利用できます。具体的には<a href="http://creativecommons.org/licenses/by-sa/4.0/deed.ja">CC BY-SA 4.0</a>と<a href="http://www.gnu.org/copyleft/fdl.html">GFDL（バージョンなし、変更不可部分なし、表表紙テキストなし、裏表紙テキストなし）</a>のデュアルライセンスです。CC BY-SA 4.0の「原著作者のクレジット」およびGFDLの「著作者」の表記は以下のいずれかを使ってください。</p>
<p>（2015-03-05にCC BY-SA 3.0からCC BY-SA 4.0に変更しました。）</p>
<ul>
	<li>株式会社クリアコード</li>
	<li>クリアコード</li>
	<li>ClearCode Inc.</li>
</ul>
<p>一部、このライセンスが適用されない記事もあります。その場合は記事中で明示的にその記事のライセンスを明記します。できるだけ記事の先頭のわかりやすい位置に記述するので、ライセンスの記述には注意してください。</p>
<p>有用な記事があったら、ぜひ、自由に利用してください。</p>

<p>関連記事: <a href="../blog/2012/6/5.html">ククログの記事のライセンスをCC BY-SA 3.0とGFDLのデュアルライセンスに設定 - ククログ(2012-06-05)</a></p>


<h2 id="glossary">用語集</h2>
<p><a href="{% link glossary/index.md %}">用語集</a>は技術的によく使われている様々な英単語・単語・用語の説明をまとめて公開しています。</p>
<p>用語集の内容はWikipediaと同じライセンスで自由に利用できます。具体的には<a href="http://creativecommons.org/licenses/by-sa/4.0/deed.ja">CC BY-SA 4.0</a>と<a href="http://www.gnu.org/copyleft/fdl.html">GFDL（バージョンなし、変更不可部分なし、表表紙テキストなし、裏表紙テキストなし）</a>のデュアルライセンスです。CC BY-SA 4.0の「原著作者のクレジット」およびGFDLの「著作者」の表記は以下のいずれかを使ってください。</p>
<ul>
	<li>株式会社クリアコード</li>
	<li>クリアコード</li>
	<li>ClearCode Inc.</li>
</ul>


<h2 id='image'>画像素材</h2>

<div id='image-list' class='grid-x grid-margin-x'>
  <div class="cell medium-4 card">
    <div class="card-image">
      <img src="{% link /recruitment/header.jpg %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/images/recruit.jpg
        <li>/recruitment/header.jpg
        <li>/recruitment/header_sp.jpg
      </ul>
      <a href='https://www.flickr.com/photos/koichiroo/29107691713/in/album-72157672764376230/'>"20160909-DSC_7439"</a> by
      <a href='https://www.flickr.com/photos/koichiroo/'>Koichiro Ohba</a>, used under
      <a href='https://creativecommons.org/licenses/by/2.0/'>CC BY</a>
      / 画像を切り取り加工
    </div>
  </div>
  <div class="cell medium-4 card">
    <div class="card-image">
      <img src="{% link /images/fluentd.jpg %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/images/fluend.jpg
      </ul>
      <a href='https://www.flickr.com/photos/carlbcampbell/17907529701/'>"San Miguel Sky (18)"</a> by
      <a href='https://www.flickr.com/photos/carlbcampbell/'>Carl Campbell</a>, used under
      <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC BY-SA</a>
      / 画像を切り取り加工<br>
      <a href='https://docs.fluentd.org/quickstart/logo'>"Fluentd Icon"</a> by
      <a href='https://www.fluentd.org/'>Fluentd Authors</a>, used under
      <a href='https://github.com/fluent/fluentd-docs-gitbook/blob/master/LICENSE'>Apache License 2.0</a>
      / 画像の色彩を調整
    </div>
  </div>
  <div class="cell medium-4 card">
    <div class="card-image">
      <img src="{% link /images/groonga.jpg %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/images/groonga.jpg
      </ul>
      <a href='https://www.flickr.com/photos/133422117@N04/28853670133/'>"Alpen"</a> by
      <a href='https://www.flickr.com/photos/133422117@N04/'>Stefan Woidig</a>, used under
      Public Domain<br>
      <a href='https://groonga.org/logo/'>"A Groonga Logo"</a> by
      <a href='https://groonga.org/'>The Groonga Project</a>, used under
      <a href='https://creativecommons.org/licenses/by/3.0/'>CC BY</a>
      / 画像の色彩を調整
    </div>
  </div>
  <div class="cell medium-4 card">
    <div class="card-image">
      <img src="{% link /images/mozilla.jpg %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/images/mozilla.jpg
      </ul>
      <a href='https://www.flickr.com/photos/ralf-steinberger/24183119467'>"Attack on the Italian city of Genova"</a> by
      <a href='https://www.flickr.com/photos/ralf-steinberger/'>Ralf Steinberger</a>, used under
      <a href='https://creativecommons.org/licenses/by/2.0/'>CC BY</a>
      / 恐竜の部分のみ切り取り
    </div>
  </div>
  <div class="cell medium-4 card">
    <div class="card-image">
      <img src="{% link /images/browserselector.jpg %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/images/browserselector.jpg
      </ul>
      <a href='https://www.flickr.com/photos/mark-gunn/32337323900/'>"Bay Bridge before dawn"</a> by
      <a href='https://www.flickr.com/photos/mark-gunn/'>Mark Gunn</a>, used under
      <a href='https://creativecommons.org/licenses/by/2.0/'>CC BY</a>
      / 画像を切り取り加工
    </div>
  </div>
  <div class="cell medium-4 card">
    <div class="card-image">
      <img src="{% link /recruitment/groonga.png %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/recruitment/groonga.png
      </ul>
      <a href='https://groonga.org/logo/'>"A Groonga Logo"</a> by
      <a href='https://groonga.org/'>The Groonga Project</a>, used under
      <a href='https://creativecommons.org/licenses/by/3.0/'>CC BY</a>
    </div>
  </div>
  <div class="cell medium-4 card">
    <div class="card-image">
      <img src="{% link /press-releases/20211115-db-tech-showcase-2021/dbts2021_banner2_jp.png %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/press-releases/20211115-db-tech-showcase-2021/dbts2021_banner2_jp.png
      </ul>
      "db tech showcse 2021 banner" by
      <a href='https://www.db-tech-showcase.com/2021/'>db tech showcase 2021 © 2021 Insight Technology, Inc.</a>, used only for notification of the event.
    </div>
  </div>
  <div class="cell medium-4 card">
    <div class="card-image">
      <img src="{% link images/sidebar/rubykaigi-2022.svg %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/images/sidebar/rubykaigi-2022.svg
        <li>/press-releases/20220906-rubykaigi-2022/rubykaigi-2022.png
      </ul>
      "RubyKaigi 2022 main-visual" by
      <a href='https://rubykaigi.org/2022/'>RubyKaigi 2022 Team</a>, used under
      <a href='https://creativecommons.org/licenses/by/4.0/legalcode'> Creative Commons Attribution 4.0 Unported License</a>
      / SVG画像をPNG画像にエクスポート。
    </div>
  </div>
  <div class="cell medium-4 card">
    <div class="card-image">
      <img src="{% link recruitment/fluentd.png %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/recruitment/fluentd.png
      </ul>
      "Fluentd Horizontal" by
      <a href='https://www.fluentd.org/'>Fluentd Authors</a>, used under
      <a href='https://github.com/fluent/fluentd-docs-gitbook/blob/master/LICENSE'>Apache License 2.0</a>
      / SVGよりサイズ調整
    </div>
  </div>
  <div class="cell medium-4 card">
    <div class="card-image">
      <image src="{% link images/sidebar/red-data-tools.png %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/images/sidebar/red-data-tools.png
      </ul>
      "Red Data Tools Logo" by
      <a href='https://github.com/red-data-tools/resources/tree/master/logo'> yotsukura</a>, used under
      <a href='https://creativecommons.org/licenses/by/4.0/'>CC BY 4.0</a>
    </div>
  </div>
  <div class="cell medium-4 card">
    <div class="card-image">
      <image src="{% link press-releases/20230316-yapc-kyoto-2023/yapc-logo.png %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/press-releases/20230316-yapc-kyoto-2023/yapc-logo.png
      </ul>
      "YAPC::Kyoto 2023 logo" by
      <a href='https://japan.perlassociation.org/'> Japan Perl Association</a>
    </div>
  </div>
  <div class="cell medium-4 card">
    <div class="card-image">
      <image src="{% link images/blog/rubykaigi-2023-announce/ADBCFlow2.svg %}">
    </div>
    <div class="card-section">
      <ul>
        <li>/images/blog/rubykaigi-2023-announce/ADBCFlow2.svg
      </ul>
      "The query execution flow with two different ADBC drivers" by
      <a href='https://www.apache.org/'>The Apache Software Foundation</a>,
      used under
      <a href='https://www.apache.org/licenses/LICENSE-2.0'>Apache License 2.0</a>
    </div>
  </div>
</div>
