---
layout: default
main_title: BrowserSelector
sub_title:
type: service
---

<h2 id='Overview'>BrowserSelectorとは</h2>

<div class='grid-x grid-padding-x'>
  <div class='cell large-auto'>
    <p>
    BrowserSelectorは、ユーザー数100名から1万名までさまざまな規模の企業で利用されているブラウザ切替ツールです。
    <p>
    近年の進化するモダンブラウザとシステム運用などに必須になるレガシーブラウザの混在運用を強いられ、管理などに多くの労力を強いられるお客様の要望にお応えするために、2019年にクリアコードが開発し、MITライセンスで配布しているオープンソースソフトウェアです。</p>
    <p>
    URLパターンに応じて複数のブラウザをスムーズに切り替えることができるので、社内／社外サイトでのブラウザの使い分けや、業務アプリ専用ブラウザの導入などの用途にご利用いただけます。
  </div>
  <div class='cell large-shrink'>
    <iframe style='max-width:100%;' width="409" height="240" src="https://www.youtube.com/embed/F_-O1xptCFU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<h2 id='BrowserSelector'> 法人利用パックのご案内</h2>
<p>
BrowserSelector法人利用パックは、BrowserSelectorを利用する法人ユーザーを対象に、BrowserSelectorのプログラム一式とサポートを提供するものです。</p>
<p>
BrowserSelector法人利用パックはユーザ数毎に価格を設定しています。契約形態は1年毎更新のサブスクリプション契約となります。</p>
<p>また、契約初年度と2年目以降では価格が異なります。</p>


<table>
<caption>法人利用パック内容</caption>
<tr>
<td>BrowserSelectorのプログラム本体</td>
<td><p>BrowserSelectorを構成する以下のClearCode署名入りソフトウェア</p>
<ul>
<li>BrowserSelector Installer</li>
<ul>
<li>BrowserSelector</li>
<li>BrowserSelector BHO</li>
<li>BrowserSelector Talk</li>
</ul>
<li>IE View WE(Firefox/Chrome/Edge)</li>
</ul>
</tr>
<tr>
<td>BrowserSelectorの問い合わせサポート</td>
<td>
<ul>
<li>仕様に関する問合せ対応</li>
<li>BrowserSelectorの設定方法に関する問合せ対応</li>
<li>障害発生時の原因調査と解決策の提案(※1)</li>
<li>連携対象ブラウザ、OSのバージョンアップ時の動作検証</li>
<li>機能追加のご要望への対応(※2)</li>
<br>
<p><small> 　
(※1)障害発生時の原因調査と解決策の提案は契約毎に対応時間数の上限を定めています。対応時間数の上限を超える場合は別途お見積もりの上での対応となります。なお、障害の原因がBrowserSelectorの不具合であった場合はBrowserSelectorの改修のための作業時間は対応時間に計上しませんが、問題切り分けのための作業時間は対応時間に計上します。</small></p>
<p><small>(※2)機能追加に関してはBrowserSelectorの利用者全般に有益だと当社にて判断したものについては無償にて対応します。特定用途向けであって利用者全般のニーズを満たすものではないと判断した場合は別途お見積もりの上、有償での対応を提案します。</small></p>
</td>
</tr>
</table>
<table>
  <caption>初年度価格</caption>
  <thead>
  <td>ユーザ数</td>
　<td>価格(税別)</td>
  <td>障害対応時間</td>
  </thead>
  <tbody>
  <tr>
  <td>100名まで</td>
  <td>￥1,800,000</td>
  <td>20時間まで</td>
 </tr>
 <tr>
  <td>500名まで</td>
  <td>￥2,400,000</td>
  <td>30時間まで</td>
 </tr>
  <tr>
  <td>2000名まで</td>
  <td>￥3,600,000</td>
  <td>40時間まで</td>
  </tr>
  </tbody>
</table>
<ul>
<li>契約開始日は契約月の1日とします。</li>
<li>初年度を1年未満の期間で契約する場合は期間按分して対応します。</li>
<small>例)ユーザ500名まで5カ月の場合、￥2,400,000 * 5/12 = \1,000,000<br>
        また障害対応時間も按分されます。30h * 5/12 = 13h(小数点以下切り上げ）</small>
<li>契約更新されない期間が一定期間あり、再度契約をお申込みいただく場合は遡及にて対応します。</li>
</ul>
<p>ユーザー2000名以上の場合は別途お見積りいたしますので、お気軽にお問い合わせください。</p>
<p>契約初年度と2年目以降では価格が異なります。2年目以降の価格についてはお問い合わせください。</p>

<h2 id='Overview'>ソフトウェアのハイライト</h2>

<h3>幅広いブラウザサポート</h3>

<div class='grid-x grid-padding-x'>
  <div class='cell medium-8'>
    <p>
    BrowserSelectorは、IE・Edge・Chrome・Firefoxといった主要なブラウザを幅広くサポートしています。

    <ul>
    <li>Internet Explorer 9・10・11
    <li>Microsoft Edge
    <li>Google Chrome
    <li>Mozilla Firefox
    </ul>

    <p>
    サポート対象のブラウザであれば、任意のブラウザからどのブラウザにも切り替えることができます。
  </div>
  <div class='cell medium-4'>
    <img src='browserselector/bs-overview.png'>
  </div>
</div>

<h3>シンプルな設定管理</h3>

<div class='grid-x grid-padding-x'>
  <div class='cell medium-8'>
    <p>
    シンプルな形式の設定ファイルでブラウザ切り替えを管理することができます。

    <p>
    また、URLパターンによる切り替えだけではなく、ホスト名やインターネットゾーンによる切り替えもサポートしているので、複雑なルールも簡潔に記述することができます。
  </div>
  <div class='cell medium-4'>
    <img src='browserselector/bs-config.png'>
  </div>
</div>

<h3>集中管理に対応</h3>

<div class='grid-x grid-padding-x'>
  <div class='cell medium-8'>
    <p>
    BrowserSelectorは設定の集中管理をサポートしています。

    <ul>
    <li>共有フォルダに設定を配置することで、複数の端末を一括管理できます。
    <li>グループポリシーで組織の設定を管理することもできます。
    </ul>
  </div>
  <div class='cell medium-4'>
    <img src='browserselector/bs-gpo.png'>
  </div>
</div>

<h3>BrowserSelectorの詳しい利用方法を知りたい場合</h3>
<p>
<a href='/downloads/browserselector-guide.html'>BrowserSelector利用ガイド</a>を参照してください。


<h2 id='Support'>サポートの問い合わせ</h2>

<p>
自社のシステムで使ってみたい、また使っていて解決したい点があるなどの課題がございましたら、<a href='/contact/'>こちらのフォーム</a>からお問い合わせください。
