---
layout: default
main_title: 本社移転のお知らせ
sub_title:
type: topic
---

<p>拝啓　入梅の候、貴社ますますご清祥のこととお慶び申し上げます。</p>
<p>平素は格別のご高配を賜り、厚くお礼申し上げます。</p>
<p>さて、株式会社クリアコードでは、業務拡張に伴い社屋が手狭となりましたため、別記の通り本社オフィスを移転することとなりました。これを機に、社員一同より一層の努力をしてまいりますので、何卒倍旧のご支援ご厚誼を賜りますようお願い申し上げます。まずは略儀ながら書中をもちましてご挨拶申し上げます。</p>

<p class="afterpiece">敬具</p>

<div class="signature">
	<p class="date">平成23年6月吉日</p>
	<p class="person">株式会社クリアコード<br>代表取締役　須藤　功平</p>
</div>

<div class="following">
	<p class="following-mark">記</p>

	<p>◇新本社オフィス</p>
	<p>〒113-0033<br>
東京都文京区本郷3丁目27番12号　本郷デントビル2階<br>
TEL 03-6231-7270<br>
FAX 03-6231-7271<br>
電話、ファックスとも現在の番号から変更ございません。</p>
	<p>※ 平成23年7月12日より新本社オフィスにて業務を開始いたします。</p>
	<p>なお、平成23年7月11日はネットワーク移設工事の為、電話・ファックスが一時不通となる可能性がございます。ご面倒お掛けしますが、不通の場合はメールもしくは各担当者の携帯までご連絡いただきますよう、よろしくお願い申し上げます。</p>
</div>

<p class="afterpiece">以上</p>
