---
layout: default
main_title: 社員研修に伴う休業のお知らせ
sub_title:
type: topic
---

<p>お客様各位</p>

<p>時下ますますご清栄のこととお喜び申し上げます。
平素は格別なるご高配を賜り厚く御礼申し上げます。</p>

<p>さて、弊社社員研修に伴う臨時休業日につきまして、下記の通りお知らせいたします。
お客様には大変ご迷惑をお掛けいたしますが、何卒ご理解ご配慮を賜りますよう、宜しくお願い申し上げます。</p>

<div class="following">
	<p class="following-mark">記</p>

	<p>休業日：2014年6月12日（木）から2014年6月13日（金）<br>
（※上記期間中は電話受付及びメールサポートも休止致します。）</p>
</div>

<p>休業期間中にメールにて頂きましたご質問やご意見への回答は、2014年6月16日（月）以降に担当者よりご連絡させていただきますので、ご了承下さい。
何卒宜しくお願い申し上げます。</p>
